@import 'header';

.article {
  $font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  $article-content-width: 45%;
  $span-counter-color: #999;
  $p-color: #444;

  font-family: $font-family;
  width: $article-content-width;

  span.counter {
    color: $span-counter-color;
    cursor: pointer;
    margin-right: 12px;
  }

  p {
    color: $p-color;
    font-size: 16px;
    line-height: 1.4;
    margin: 15px 0 15px 0;

    code {
      font-family: $code-font-family;
      font-size: 13px;
      margin-left: 2px;
      margin-right: 2px;
      word-spacing: -1px;
    }
  }

  h1 {
    @include header(30px, 30px, 20px);
    word-spacing: 4px;
  }

  h2 {
    @include header(20px, 30px, 20px);
    word-spacing: 4px;
  }

  h3 {
    @include header(18px, 30px, 20px);
    word-spacing: 3px;
  }

  h4 {
    @include header(16px, 25px, 15px);
  }

  h5 {
    @include header(15px, 25px, 15px);
  }

  span.section-counter:hover {
    background-color: $span-counter-color;
    color: #fff;
  }
}
